# Default owner
*               @Ishitag8

# Day-wise ownership
backend/        @Ishitag8 @surajc-15 @om15102003
frontend/       @Ishitag8 @om15102003 @kantharamola4
db/             @Ishitag8 @kantharamola4 @om15102003
.github/        @Ishitag8
